div.a1
{
     width: 250px;
    height: 350px;
border-top-left-radius: 15px;
margin-top: 100px;
margin-bottom: 100px;
margin-left: 350px;
border-bottom-right-radius: 15px ;
    border: 1px solid slategrey;
    background-color: slategrey;
   
    
}
#num1
{
    color: rgb(135, 103, 0);
    text-align: center;
border: 0px solid slategray;
    border-radius: 40px;
 margin-top: 5px;
 margin-left: 35px;
 margin-bottom: 5px;
     border-top-left-radius: 10px;
     border-bottom-right-radius: 15px;
     background-color: darkgray;
}
#num2
{
    color: rgb(135, 103, 0);
        text-align: center;
   border: 0px solid slategray;
    border-radius: 40px;
 margin-left: 35px;
 margin-bottom: 5px;
   border-top-left-radius: 10px;
     border-bottom-right-radius: 15px;
     background-color: darkgray;
}
input::placeholder
{
    color: rgb(0, 0, 0);
}
button.b1
{
    border-top-left-radius: 10px;
    width: 250px;
    height: 20px;
         border-bottom-right-radius: 10px ;
}
button.b2
{
        border-top-left-radius: 10px;
    width: 250px;
    height: 20px;
    margin-top: 5px;
         border-bottom-right-radius: 10px ;
}
button.b3
{
        border-top-left-radius: 10px;
    width: 250px;
    height: 20px;
     margin-top: 5px;
          border-bottom-right-radius: 10px ;
}
button.b4
{
        border-top-left-radius: 10px;
    width: 250px;
    height: 20px;
     margin-top: 5px;
     border-bottom-right-radius: 10px ;
}
button.b5
{
        border-top-left-radius: 10px;
      border-bottom-right-radius: 15px ;
    width: 250px;
    height: 75px;
     margin-top: 5px;

}
button.b6
{
   border: 0px solid darkgray;
   width: 35px;
   height: 35px;
   margin-top: 5px;
   margin-left: 108px;
   border-radius: 35px;
background-color: brown;
}
#gavab
{
    color: rgb(0, 135, 70);
    text-align: center;
border: 0px solid slategray;
    border-radius: 40px;
background-color: darkgray;
 margin-left: 35px;
 margin-bottom: 5px;
   border-top-left-radius: 10px;
     border-bottom-right-radius: 15px;
}
#text1
{
    text-align: center;
    color: darkslategrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}